*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_texts{
font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 1rem;
color: #1b1b1d;
text-decoration: none;
}  



.container-fluid{   
padding:0% 15% 7%;  

}
.row{
    width: 80%;
    margin-left: 10%;
    height: 300px;
    padding-top: 4.5%;

}
.main__heading{
    
    color: rgb(41, 40, 40) ;
    font-family: 'Roboto', sans-serif;
   
}

.bio{
    font-family: 'Raleway', sans-serif;
text-align: center;
}
.bio p:hover{
    color: #24252A;
}
.nav__links{
    list-style: none;
} 
.nav__links li{
    display: inline-block;
    padding: 0 20px;

}
.nav__links li a{
    transition: all 0.33 ease;
}
.nav__links a:hover{
    color: black;
    font-weight: bolder;
}
.nav-class{
     margin-left: 202px;
}
.about-para{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
.intro__para{
    font-family: 'Raleway', sans-serif;
    padding-top: 10%;
}
.btn btn-outline-dark{
    height: 30px;
    width: 30px;
}
.btn:hover{
    background-color: #fff;
    color: black;
}
 .btn-down{
    margin: 0 15px 15px;
 }
 .bio_image{
    width: 70%;
 }

                                                        /* ABOUT SECTION */
.about__section{
    padding: 10% 5%;
  
}
#about__heading{
    padding-top: 10%;
}
.flex-container {
    display: flex;
    padding-top: 10%;
}

.flex-child {
    flex: 1;
    height: 300px;
    
}  

.flex-child:first-child {
    margin-right: 20px;

} 
.flex-child seconed {
    height: 300px     
}
#para__about{
    
    padding-top: 10%;
    font-family: 'Raleway', sans-serif;
   text-align: center;
   font-size: 1.2rem;

   
}
#para_about:hover{
    color: black;
}
.about_image{
    width: 50%;

}

                                                    /* SERVICES- SECTION */


.service-section{
    padding: 0% 5%;
  
}
.flex-container {
    display: flex; 
    padding:5% 10px;
   

}
.service__item{
    height: 200px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}
.service__image{
    width: 70%;
}
.service__image:hover{
   
transform:scale(1.1);

}
.service__image_title{
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

                                                        /* SKILLS-SECTION */

#carouselExampleControls{
    padding-top: 10%;
    
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-item{
    text-align: center;
}


.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding-top: 1px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height:120px;
    width: 120px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15)
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;

}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
.skills_mobile{
    display: none;
}



                                                                                        /* CONTACT-SECTION */
                                                                                      
  















/* HTML */

p{
  padding: 5%;
  color: #1d1d1e;
  text-align: center;
  justify-content: center;
}

h5{
    color: #6e6e6f;
}



header{
    display: flex;
    text-align: center;
    padding: 30px 10%;
justify-content: space-between;
}
section{
    padding: 5% 10%;
    text-align: center;
    height: 600px;
}


#footer{
  background-color: #1d1d1e;
  padding: 5% 15%;
  text-align: center;
  justify-content: space-between;
}
.icons{
  margin: 10px 0px;
  color: #fff;
  padding: 10%;
}

.footer_cp{
    color: #fff;
}
i{
    margin: 15px;
    
}
i:hover{
    transform: scale(1.1);
}
#instagram{
    color:#fff
    
}
     @media only screen and (max-width:768px){
        nav ul{
            width: 100%;
            
            position: absolute;
            top: 75px;
            right: 0;
            padding-left:1%;
            z-index:3
        }
        h1{
            padding-top: 10%;
        }
        #intro__para{
            text-align: center;
        }
        .row{
    width: 100%;
    padding-left: 0%;
    height: 300px;
    padding-top: 10%;
    justify-content: center;
     
}
        .bio_image{
            width: 70%;
            padding-left: 30%;
            
        }
        .about__section{
    margin-top: 10%;
        }
        #about{
            padding-top: 20%;
        }
        p{
  padding: 5%;
  color: #1d1d1e;
 
  justify-content: center;
}
section{
    padding: 5% 10%;
    text-align: center;
    height: 600px;
}
        #heading_skills{
            padding-top: 20%;
        }
        * {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 50%;
  min-height: 50%;
}

.progressbar {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width:50%;
  height: 50%;
}

.progressbar__svg-circle {
  width: 50%;
  height: 50%;
  fill: none;
  stroke-width: 20;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  stroke:#24252A ;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: black(0deg, 0%, 100%);
  font-family: Arial,'Poppins', sans-serif;
  border-radius: 0.25em;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(90deg);
}
#carouselExampleControls{
    padding-top: 10%;
    
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-item{
    text-align: center;
}


.outer{
    height: 80px;
    width: 80px;
    border-radius: 25%;
    padding-top: 1px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height:60px;
    width: 60px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 25%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15)
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;

}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
 
    .carousel{
        display: none;


     }            
    }



@media screen and (max-width: 181px)  { 
    
    
#skills_mobiles{
    display:inline-block;
}

.container{
    display: flex;
    flex-direction: column;
   
  
   

}






    nav ul{
    width: 100%;
            
            position: absolute;
            top: 75px;
            right: 0;
            padding: left 25%;
            z-index:3
        }
        h1{
            padding-top: 20%;
        }
        #intro__para{
            text-align: center;
        }
        .row{
    
    padding-left: 0%;
    height: 300px;
    padding-top: 10%;
    justify-content: center;
     
}
        .bio_image{
            width: 70%;
            padding-left: 30%;
            
        }
        .about__section{
    margin-top: 50%;
        }
        #about{
            padding-top: 20%;
        }
        #services{
            height: 100px;
        }
       
        p{
  padding: 5%;
  color: #1d1d1e;
 
  justify-content: center;
}
section{
    padding: 5% 10%;
    text-align: center;
    height: 600px;
}
        #heading_skills{
            padding-top: 20%;
        }
        * {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 50%;
  min-height: 50%;
}

.progressbar {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width:50%;
  height: 50%;
}

.progressbar__svg-circle {
  width: 50%;
  height: 50%;
  fill: none;
  stroke-width: 20;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  stroke:#24252A ;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: black(0deg, 0%, 100%);
  font-family: Arial,'Poppins', sans-serif;
  border-radius: 0.25em;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(90deg);
}
#carouselExampleControls{
    padding-top: 10%;
    
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-item{
    text-align: center;
}
*{
    padding-left: 10%;
}
#footer_section{
    background-color:#1d1d1e;
}
.outer{
    height: 80px;
    width: 80px;
    border-radius: 25%;
    padding-top: 1px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height:60px;
    width: 60px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 25%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15)
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;

}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
 
    .carousel{
        display: none;


     }            
     

.flex-parent {
  display: flex;
}

.flex-item {
  width: max-content;
  padding: .5em;
  background: #efefef;
  border: 3px solid #333;
}

/* =========================
   GENERAL STYLES 
   NOT RELATED TO THE TUTORIAL
============================ */







.container {
  width: min(95%, 45rem);
  margin: 0 auto;
}


}

@media only screen and (max-device-width: 480px) {
    


 nav ul{
            width: 100%;
            
            position: absolute;
            top: 75px;
            right: 0;
            padding-left:1%;
            z-index:3
        }
        h1{
            padding-top: 10%;
        }
        #intro__para{
            text-align: center;
        }
        .row{
    width: 100%;
    padding-left: 0%;
    height: 300px;
    padding-top: 10%;
    justify-content: center;
     
}
        .bio_image{
            width: 70%;
            padding-left: 30%;
            
        }
        .about__section{
    margin-top: 10%;
        }
        #about{
            padding-top: 20%;
        }
        p{
  padding: 5%;
  color: #1d1d1e;
 
  justify-content: center;
}
section{
    padding: 5% 10%;
    text-align: center;
    height: 600px;
}
        #heading_skills{
            padding-top: 20%;
        }
        * {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 50%;
  min-height: 50%;
}

.progressbar {
  position: relative;
  width: 85px;
  height: 85px;
  margin: 1em;
  transform: rotate(-90deg);
}

.progressbar__svg {
  position: relative;
  width:50%;
  height: 50%;
}

.progressbar__svg-circle {
  width: 50%;
  height: 50%;
  fill: none;
  stroke-width: 20;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  stroke:#24252A ;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  color: black(0deg, 0%, 100%);
  font-family: Arial,'Poppins', sans-serif;
  border-radius: 0.25em;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(90deg);
}
#carouselExampleControls{
    padding-top: 10%;
    
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-item{
    text-align: center;
}


.outer{
    height: 80px;
    width: 80px;
    border-radius: 25%;
    padding-top: 1px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
               -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height:60px;
    width: 60px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 25%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15)
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 3s linear forwards;

}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
 
    .carousel{
        display: none;


     }            
.skills_mobiles{
    display: flex;
    padding-right: 20%;

}
.skills_mobiles_heading{
    margin-top:10px ;
}
footer{
    width: 100%;
}


    }
    
    @media only screen and (min-width: 1200px){
      .skills_mobiles{
    display: none;
}
}
   @media only screen and (min-width: 768px){
      .skills_mobiles{
    display: none;
}
   }